**/*.iml
**/.gradle
**/local.properties
**/.idea/
**/.DS_Store
**/build
**/captures
**/.externalNativeBuild
**/.cxx
**/local.properties
**/secrets.properties
**/node_modules
**/*.db
**/webserver/apiKey.json
**/webserver/plain.js
**/app/release/
**/keystore
**/Beerney_Beta*
**/Beerney_Final*
